name: Manual Secret Scan

on:
  workflow_dispatch:  # Allows manual triggering

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0  # Fetch all history for all branches and tags

    - name: Run Gitleaks
      uses: zricethezav/gitleaks-action@v2.3.9
      with:
        args: "--path . --verbose --repo-path . --leaks-exit-code 1 --redact --log-opts --all"
